@media screen and (min-width: 48.75rem) {
  .header_menu {
    display: flex;
    justify-content: space-between;
  }

  .image__header {
    margin-left: 1.5rem;
  }

  .nav__menu {
    background: initial;
  }

  .nav__menu li {
    display: inline-block;
  }

  .nav__menu a {
    color: var(--primaryColor);
  }

  .nav__menu a:hover {
    background-color: color-mix(
      in srgb,
      var(--primaryColor),
      var(--primaryColorFont) 85%
    );
  }
}

@media screen and (min-width: 48.75rem) {
  .heroBanner {
    background-color: var(--primaryColor);
    color: var(--primaryColorFont);
  }

  .heroBanner_title,
  .heroBanner_subtitle {
    color: var(--primaryColorFont);
  }

  .heroBanner_iconPlay {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 48.75rem) {
  .col-md-6 {
    width: calc(50% - var(--default-gap));
  }
}

@media screen and (min-width: 56.25rem) {
  .heroBanner {
    background-image: url(../assets/images/bg_topo_1198x670.jpg);
    aspect-ratio: 1198 / 670;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .heroBanner .max__width {
    margin: initial;
    margin-bottom: 4rem;
    width: 75%;
  }
}

@media screen and (min-width: 74rem) {
  .heroBanner {
    background-image: linear-gradient(transparent, var(--primaryColor)),
      url(../assets/images/bg_topo_1600x1374.jpg);
    background-position: center top;
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    max-height: 80vh;
    width: 100%;
  }

  .heroBanner .max__width {
    width: 50%;
  }

  .heroBanner_iconPlay {
    width: 7rem;
    height: 7rem;
  }

  .heroBanner_title,
  .heroBanner_subtitle {
    text-shadow: 4px 4px 2px rgba(0 0 0 / 0.8);
  }
}

@media screen and (min-width: 74rem) {
  .col-xl-3 {
    width: calc(25% - var(--default-gap));
  }

  .col-xl-6 {
    width: calc(50% - var(--default-gap));
  }
}

@container mainContent (min-width: 31.25rem) {
  .mainContent_container {
    display: flex;
    gap: var(--default-gap);
  }

  .mainContent_title {
    margin-top: 0;
  }

  .mainContent_img img {
    max-height: 182px;
  }
}
