@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

:root {
  --primaryColor: #612674;
  --primaryColorFont: #ffffff;
  --secundaryColor: #000;
  --default-gap: 1rem;
}

html {
  font-family: sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Oxygen", sans-serif;
}

.max__width {
  width: 70.25em;
  margin: auto;
}

.header_menu {
  text-align: center;
  width: 100%;
}

.nav__menu {
  background-color: var(--primaryColor);
}

.nav__menu ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.nav__menu a {
  text-decoration: none;
  color: var(--primaryColorFont);
  display: block;
  padding: 1rem;
}

.nav__menu a:hover {
  background-color: color-mix(
    in srgb,
    var(--primaryColor),
    var(--primaryColorFont) 10%
  );
}

/*Hero Banner*/

.heroBanner {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1rem;
}

.heroBanner_iconPlay {
  height: 5rem;
  width: 5rem;
  display: none;
}

.heroBanner_iconPlay img {
  width: 100%;
}

.heroBanner_title {
  color: var(--primaryColor);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.heroBanner_subtitle {
  font-size: 1rem;
  color: color-mix(in srgb, var(--primaryColor), var(--primaryColorFont));
  line-height: 1.5rem;
}

.heroBanner_btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background-color: #58c4c4;
  text-decoration: none;
  color: var(--primaryColorFont);
  border-radius: 0.5rem;
}

.middleContent {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
}

.middleContent a {
  color: inherit;
  text-decoration: none;
}

.middleContent_title {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-size: 1.25rem;
}

.middleContent span[class^="icon-"] {
  color: var(--primaryColor);
  font-size: 3.5rem;
}

.middleContent p {
  line-height: 1.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.col {
  flex: 1 0 auto;
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

.mainContent {
  padding: 2rem;
}

.mainContent p {
  line-height: 1.2;
}

.mainContent_img img {
  width: 100%;
}

.mainContent_title {
  text-transform: uppercase;
  color: var(--primaryColor);
  font-weight: normal;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
}

.mainContent .row {
  row-gap: 4rem;
}

.mainContent_article {
  container: mainContent / inline-size;
}

.footer {
  padding: 2rem;
  text-align: center;
  background-color: #272f3e;
  color: #778399;
}
